{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <form id="gluttonizer-form" method="post" action="results" class="flex flex-col items-start w-fit">
        <div class="mb-3">
            <input type="number" id="people-count" name="people_count" class="bg-transparent outline-0 border-b border-neutral-900 text-center" step="1" min="0" value="0">
            <label for="people-count">people will eat</label>
        </div>

        <div class="mb-3">
            <label for="available-time-minutes">The break will last</label>
            <input type="number" id="available-time-minutes" name="available_time_minutes" class="bg-transparent outline-0 border-b border-neutral-900 text-center" step="1" min="0" value="0">
            <label for="available-time-minutes">minutes</label>
        </div>

        <div class="mb-3">
            <label for="minimal-eat-time-minutes">We want at least</label>
            <input type="number" id="minimal-eat-time-minutes" name="minimal_eat_time_minutes" class="bg-transparent outline-0 border-b border-neutral-900 text-center" step="1" min="0" value="0">
            <label for="minimal-eat-time-minutes">minutes to eat</label>
        </div>
        
        <div class="mb-3">
            <label for="exclude">We don't want to eat at</label>
            <fieldset id="exclude" class="flex flex-col">
                {% for restaurant in restaurants %}
                    <div class="flex mb-1">
                        <input class="mr-4" type="checkbox" name="exclude[{{ loop.index0 }}]" value="{{ restaurant.name }}" id="{{ restaurant.name }}"/>
                        <label for="{{ restaurant.name }}">{{ restaurant.name }}</label>
                    </div>
                {% endfor %}
            </fieldset>
        </div>

        <button type="submit" class="border-solid border-neutral-900 border p-3 rounded hover:bg-neutral-900 hover:text-amber-300">Gluttonize</button>
    </form>
{% endblock %} 
